@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MyHelvetica;
  src: url("/fonts/HelveticaCompressed.otf") format("opentype");
  font-stretch: condensed;
}

@font-face {
  font-family: MyHelveticaNeue;
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: MyHelveticaNeue;
  src: url("/fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: MyHelveticaNeue;
  src: url("/fonts/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 700;
}


@font-face {
  font-family: MyHelveticaNeue;
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: light;
}



@font-face {
  font-family: MyHelvetica;
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-stretch: normal;
}

@layer utilities {
  .font-condensed {
    font-stretch: condensed;
  }
  .icon-pulsate{
  transition-property: transform;
  animation-iteration-count: infinite;
  transition-duration: 1s;
  animation-name: pulsate;
  animation-duration: 1.5s;
  timing-function: linear;
  transition-property: background;
  transition-duration: 1s;
  border-radius: 50%;
  }
  .icon-pulsate:hover{
    background: rgba(255, 255, 255, 0.1);
  }
  @keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

}
